<% if flash[:notice] %>
	<p class="text-font notice"><%= flash[:notice] %></p>
<% end %>

<div class="item_show_box">
	<div class="item_show_textbox">
		<h2 class="rank_text_color">PROFILE</h2>
		<div class ="ander-line"></div>
		<div class="item_text">
			<div class="space">
				<span class="item_name">会社名・事業名：</span>
				<%= @maker.name %>
			</div>
			<div class="space">
				<span class="item_name">会社名・事業名（フリガナ）：</span>
				<%= @maker.name_hurigana %>
			</div>
			<div class="space">
				<span class="item_name">郵便番号：</span>
				<%= @maker.postal_code %>
			</div>
			<div class="space">
				<span class="item_name">住所：</span>
				<%= @maker.street_address %>
			</div>
			<div class="space">
				<span class="item_name">電話番号：</span>
				<%= @maker.phone_number %>
			</div>
			<div class="space">
				<span class="item_name">メールアドレス：</span>
				<%= @maker.email %>
			</div>
			<div class ="buttun_center">
				<%= link_to "編集",makerpage_edit_path(@maker.id), class: "btn btn-success" %>
				<%= link_to "戻る", root_path, class: "btn btn-default" %>
			</div>
			<div class="user-delete-btn">
				<% if @maker.is_deleted == true%>
				<%= link_to '退会する', maker_path(:id => @maker.id, :is_deleted => 'false'),
				:method => :patch,"data-confirm" => "本当に退会しますか？" , class: "btn btn-danger"%>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="item_show_box">
	<div class="item_show_textbox">
		<h2 class="rank_text_color">SHOPS</h2>
		<div class ="ander-line"></div>
		<div class="item_text">
			<% @shops.each do |shop| %>
				<div class="space">
					<span class="item_name">店舗名：</span>
					<%= shop.name %><br>
				<div class ="buttun_center">
					<%= link_to "編集",edit_maker_shop_path(shop.id), class: "btn btn-success" %>
					<%= link_to "削除",maker_shop_path(shop.id), class: "btn btn-danger",method: :delete %>
				</div>
			<% end %>
				<div class ="buttun_center">
					<%= link_to "店舗新規登録画面",new_maker_shop_path, class: "btn btn-primary" %>
				</div>
				</div>
		</div>
	</div>
</div>