    <span class="like">
    <% if item.iine?(current_user) %>
      <%= form_for(Favorite.find_by(user_id: current_user.id,item_id:item.id), method: :delete, remote: true) do |f| %>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#", class: "glyphicon glyphicon-heart" ,style:"color: red;"%>
        <% end %>
      <% end %>
    <% else %>
      <%= form_for(item.favorites.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :item_id, item.id %></div>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#", class: "glyphicon glyphicon-heart-empty" %>
        <% end %>
      <% end %>
    <% end %>
  </span>