<main class="clearfix">
<% if flash[:notice] %>
  <div class="alert alert-danger">
<%= flash[:notice] %>
</div>
<% end %>
<div class="item_show_box">
  <div class="item_show_textbox">
    <h2 class="rank_text_color">PROFILE　EDIT</h2>
    <div class ="ander-line"></div>
    <div class="item_text">
    	<%= form_for [@shop], url:maker_shops_path do |f| %>
            <div class="space">
              <span class="item_name">店舗名：</span>
                      <%= f.text_field :name, class:'form-control', placeholder:"※全角" %>
            </div>
            <div class="space">
              <span class="item_name">店舗名（フリガナ）：</span>
              <%= f.text_field :name_hurigana, class:'form-control', placeholder:"セイ　※全角カタカナ" %>
            </div>
            <div class="space">
              <span class="item_name">郵便番号：</span>
              <%= f.text_field :postal_code, class:'form-control', placeholder:"※半角　ハイフンなし" %>
            </div>
            <div class="space">
              <span class="item_name">住所：</span>
                      <%= f.text_field :street_address, class:'form-control', placeholder:"住所を入力" %>
            </div>
            <div class="space">
              <span class="item_name">電話番号：</span>
              <%= f.text_field :phone_number, class:'form-control', placeholder:"※半角　ハイフンなし" %>
            </div>
            <div class="space">
              <%= f.submit "登録", class: "btn btn-primary btn-lg btn-block" %>
            </div>
        <% end %>
      </div>
  </div>
</div>