<div class="col-xs-9">
	<% if flash[:notice] %>
    	<div class="alert alert-danger">
		<%= flash[:notice] %>
		</div>
	<% end %>

	<% @items.each do |item| %>
	<div class="item-box">
		<%= link_to user_item_path(item.id) do %>
		<div class="item-contents">
			<%= attachment_image_tag item, :image,  size: "200x200", fallback: "no_image_camera.jpg", class:"item-contents-picture" %>
			<br>
			<%= item.item_name %><br>
			<%= item.price %>円（税別）<br>
		</div>
		<% end %>
	</div>
	<% end %>
</div>
<div class="addmin-paginate-items">
	<%# paginate @items, class: "paginate" %>
</div>