<div class="col-xs-9">
	<% if flash[:notice] %>
    	<div class="alert alert-danger">
		<%= flash[:notice] %>
		</div>
	<% end %>

	<% if params[:keywords].blank? %><!--もし検索ワードが空欄（スペース含む）ならタイトルだけ表示-->
		<h1 class="addmin-item-index">All Items</h1>
	<% else %><!-- 空欄でなければ検索ワード＋に関連する商品一覧を表示 -->
		<p class="search-notice"><%= "「" + params[:keywords] + "」" + "に関連する商品一覧"%></p>
	<% end %>

	<div class="item-box">
		<% @items.each do |item| %>
		<%= link_to item_path(item.id) do %>
		<div class="item-contents">
			<%= attachment_image_tag item, :image,  size: "200x200", fallback: "no_image.jpg", class:"item-contents-picture" %>
		<% end %>
			<br>
			<%= item.item_name %><br>
			<%= item.price %>円（税別）<br>
			<!-- <div id="item-<%= item.id%>"> -->
			<%= render "user/favorites/favorite", item: item %>
			<!-- </div> -->
		</div>
	</div>
	<% end %>
</div>

<div class="addmin-paginate-items">
	<%# paginate @items, class: "paginate" %>
</div>
<%= render 'layouts/user_sidebar', categories: @categories %>