<h1>管理者専用ページ</h1>
	<%= link_to "カテゴリー新規追加", new_admin_category_path %>

<h2>商品一覧</h2>
<% @items.each do |item| %>
	<p>商品</p>
	<%= item.item_name %>
	<%= link_to "削除", admin_item_path(item.id),method: :delete%>
	<br>
	<p>メーカー</p>
	<%= item.maker.name %>
	<%= link_to "削除", admin_maker_path(item.maker.id),method: :delete%>
	<br>
<% end %>

<h2>カテゴリ一覧</h2>
<% @categories.each do |category|%>
	<%= category.name %><br>
	<%= link_to "編集する", edit_admin_category_path(category.id) %>
<% end %>

<h2>ショップ一覧</h2>
<% @shops.each do |shop| %>
	<%= shop.name %>
	<%= link_to "削除", admin_shop_path(shop.id),method: :delete%>
<% end %>

<h2>ユーザー一覧</h2>
<% @users.each do |user| %>
	<%= user.name %>
	<%= link_to "削除", admin_user_path(user.id),method: :delete%>
<% end %>