<div class="item-edit-form text-font panel panel-primary box-shadow">
  <div class="item-edit-text">
      <%= form_for [:maker, @item] do |f| %>
        <div class="field">
          <div class="row">
            <label>商品名</label><br>
            <div class="col-xs-8">
            <%= f.text_field :item_name, class:'form-control', :placeholder => "" %>
            </div>
          </div>
          <div class="row">
              <label >販売価格</label><br>
              <div class="col-xs-6">
              <%= f.text_field :price, class:'form-control', :placeholder => "※半角数字　空欄不可" %>
              </div>
          </div>
          <div class="row">
              <label >内容個数</label><br>
              <div class="col-xs-6">
              <%= f.text_field :count, class:'form-control', :placeholder => "※半角数字　空欄不可" %>
              </div>
          </div>
          <div class="row">
              <label >賞味期限</label><br>
              <div class="col-xs-6">
              <%= f.text_field :freshness_date, class:'form-control', :placeholder => "※半角数字　空欄不可" %>
              </div>
          </div>
          <div class="row">
              <label >URL</label><br>
              <div class="col-xs-6">
              <%= f.text_field :url, class:'form-control', :placeholder => "※半角数字　空欄不可" %>
              </div>
          </div>
            <label >販売ステータス</label><br>
            <div>
              <div class="radio">
                <%= f.radio_button :is_sold, 'true', { id:"radio-1", type:"radio", checked: true}%>
                <label for="radio-1" class="radio-label">販売中</label>
              </div>
              <div class="radio">
                <%= f.radio_button :is_sold, 'false', { id:"radio-2", type:"radio"} %>
                <label for="radio-2" class="radio-label">販売中止</label>
              </div>
            </div>
            <label >保存方法</label><br>
            <div>
              <div class="radio">
                <%= f.radio_button :is_refrigeration, 'true', { id:"radio-1", type:"radio", checked: true}%>
                <label for="radio-1" class="radio-label">常温保存</label>
              </div>
              <div class="radio">
                <%= f.radio_button :is_refrigeration, 'false', { id:"radio-2", type:"radio"} %>
                <label for="radio-2" class="radio-label">要冷蔵</label>
              </div>
            </div>
            <label >個装</label><br>
            <div>
              <div class="radio">
                <%= f.radio_button :is_packaged, 'true', { id:"radio-1", type:"radio", checked: true}%>
                <label for="radio-1" class="radio-label">あり</label>
              </div>
              <div class="radio">
                <%= f.radio_button :is_packaged, 'false', { id:"radio-2", type:"radio"} %>
                <label for="radio-2" class="radio-label">なし</label>
              </div>
            </div>

            <label >画像</label><br>
              <%= f.attachment_field :image, size: "100x100", fallback: "no_image.jpg" %>
          </div>
              <div class="actions">
                <%= f.submit "編集", class: "btn btn-primary" %>
              </div>
            <% end %>
        </div>
    </div>
</div>