<!--エラーメッセージ-->
<% if flash[:notice] %>
	<p class="text-font notice">
		<%= flash[:notice] %>
	</p>
<% end %>

<!--検索をかけた場合の表示-->
<% if params[:keywords].blank? %><!--もし検索ワードが空欄（スペース含む）ならタイトルだけ表示-->
<% else %><!-- 空欄でなければ検索ワード＋に関連する商品一覧を表示 -->
	<p class="search-notice"><%= "「" + params[:keywords] + "」" + "に関連する商品一覧"%></p>
<% end %>

<!--商品一覧-->
<div class="items">
	<div class="item_index_box">
		<h2 class="rank_text_color">ITEMS</h2>
		<div class ="ander-line"></div>
		<div class="item_box_center clearfix">
			<% @maker_items.each do |maker_item| %>
				<div class="msr_box01">
					<h3 class="ttl"></h3>
					<p><%= maker_item.item_name %></p>
					<%= link_to edit_maker_item_path(maker_item) do %>
						<p>編集する</p>
					<% end %>
					<%= link_to "削除",maker_item_path(maker_item),method: :delete %>
				</div>
			<% end %>
		</div>
	</div>
</div>
