<div class = "col-xs-9">
	<% if flash[:notice] %>
		<div class="alert alert-danger">
	    <%= flash[:notice] %>
	    </div>
    <% end %>
	<h1>商品新規追加画面</h1>
    <div class="item-box">
      <div class="item-text-box">
        <%= form_for [@item], url:maker_items_path do |f| %>
        <div class="field">
          <div class="row">
            <label>商品名</label><br>
            <div class="col-xs-8">
            <%= f.text_field :item_name, class:'form-control', :placeholder => "シングル/アルバム名を入力 " %>
            </div>
          </div>
	        <div class="row">
	            <label >販売価格</label><br>
	            <div class="col-xs-6">
	            <%= f.text_field :price, class:'form-control', :placeholder => "※半角数字　空欄不可" %>
	            </div>
	        </div>
	        <div class="row">
	            <label >内容個数</label><br>
	            <div class="col-xs-6">
	            <%= f.text_field :count, class:'form-control', :placeholder => "※半角数字　空欄不可" %>
	            </div>
	        </div>
	        <div class="row">
	            <label >URL</label><br>
	            <div class="col-xs-6">
	            <%= f.text_field :url, class:'form-control', :placeholder => "※半角数字　空欄不可" %>
	            </div>
	        </div>
            <label >販売ステータス</label><br>
            <div>
              <div class="radio">
                <%= f.radio_button :is_sold, 'true', { id:"radio-1", type:"radio", checked: true}%>
                <label for="radio-1" class="radio-label">販売中</label>
              </div>
              <div class="radio">
                <%= f.radio_button :is_sold, 'false', { id:"radio-2", type:"radio"} %>
                <label for="radio-2" class="radio-label">販売中止</label>
              </div>
            </div>
            <label >画像</label><br>
              <%= f.attachment_field :image, size: "100x100", fallback: "no_image.jpg" %>
          </div>

              <div class="actions">
                <%= f.submit "商品新規追加", class: "btn btn-primary" %>
              </div>
            <% end %>
        </div>
    </div>
</div>