<body>
	<main class="clearfix">
		<div class="container">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 text-font">
					<!-- お知らせメッセージを表示する -->
					<% if flash[:notice] %>
						<p class="text-font notice"><%= flash[:notice] %></p>
					<% end %>
					<div class="user-link-btn">
						<h2>My Profile</h2>
					</div>
					<!-- プロフィール内容 -->
					<div class="user-profile-text panel panel-primary box-shadow">
						<div class="text">
							<h3>ユーザ名</h3>
							<div class="space"><%= @user.name %></div>
							<h3>お名前</h3>
							<div class="space"><%= @user.last_name %><%= @user.first_name %></div>
							<h3>お名前（カナ）</h3>
							<div class="space"><%= @user.last_name_katakana %><%= @user.first_name_katakana %></div>
							<h3>郵便番号</h3>
							<div class="space"><%= @user.postal_code %></div>
							<h3>住所</h3>
							<div class="space"><%= @user.street_address %></div>
							<h3>電話番号</h3>
							<div class="space"><%= @user.phone_number %></div>
							<h3>メールアドレス</h3>
							<div class="space"><%= @user.email %></div>
						</div>
						<div class="user-pofile-btn">
							<%= link_to "編集",user_edit_path(@user.id), class: "btn btn-success" %>
							<%= link_to "戻る", root_path, class: "btn btn-default" %>
						</div>
					</div>
					<div class="user-delete-btn">
						<% if @user.is_deleted == true%>
						<%= link_to '退会する', user_path(:id => @user.id, :is_deleted => 'false'),
						:method => :patch,"data-confirm" => "本当に退会しますか？" , class: "btn btn-danger"%>
						<% end %>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</main>
</body>