<!-- メッセージ -->
	<% if flash[:notice] %>
		<p class="text-font notice"><%= flash[:notice] %></p>
	<% end %>

<!--メーカー情報詳細ページ-->
<main class="clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 text-font">
				<div class="user-link-btn">
					<h2>My Profile</h2>
				</div>

				<!-- プロフィール内容 -->
				<div class="user-profile-text panel panel-primary box-shadow">
					<div class="text">
						<%= attachment_image_tag @maker, :image %>
						<h3>本社名</h3>
						<div class="space"><%= @maker.name %></div>
						<h3>ふりがな</h3>
						<div class="space"><%= @maker.name_hurigana %></div>
						<h3>郵便番号</h3>
						<div class="space"><%= @maker.postal_code %></div>
						<h3>住所</h3>
						<div class="space"><%= @maker.street_address %></div>
						<h3>電話番号</h3>
						<div class="space"><%= @maker.phone_number %></div>
						<h3>メールアドレス</h3>
						<div class="space"><%= @maker.email %></div>
					</div>
					<div class="user-pofile-btn">
						<%= link_to "戻る", root_path, class: "btn btn-default" %>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</main>
