<div class="col-xs-9 text-font">
  <% if flash[:notice] %>
      <div class="alert alert-danger">
    <%= flash[:notice] %>
    </div>
  <% end %>
  <h2 align="center">登録情報編集</h2>
    <%= form_for [:maker, @maker] do |f| %>
    <div class="profile-text panel panel-primary box-shadow">
      <div class="form-inline">
      <h3>本店舗名</h3>
      <span><%= f.text_field :name, class:'form-control', placeholder:"※空欄不可" %></span>
      <h3>本店舗名（フリガナ）</h3>
      <%= f.text_field :name_hurigana, class:'form-control', placeholder:"カタカナで入力" %>
        <h3>郵便番号</h3>
        <%= f.text_field :postal_code, class:'form-control', placeholder:"郵便番号" %>
        </div>
      <h3>住所</h3>
      <%= f.text_field :street_address, class:'form-control', placeholder:"住所" %>
      <h3>電話番号</h3>
      <%= f.text_field :phone_number, class:'form-control', placeholder:"電話番号" %>
      <h3>メールアドレス</h3>
      <%= f.text_field :email, class:'form-control', placeholder:"メールアドレス" %>
      <br>
      <br>
      <%= f.submit"プロフィール変更", class: "btn btn-primary" %>
      <button type="button" onclick="history.back()" class="btn btn-default">戻る</button>
      <br>
      <br>
    </div>
  <% end %>
</div>