          <% if flash[:notice] %>
            <p class="text-font notice"><%= flash[:notice] %></p>
          <% end %>
<main class="clearfix">
  <div class="profile-text">
    <div class ="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-7">
      <h2>新規メーカー登録フォーム</h2>
      </div>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-inline">
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-6">
                  <h3>本店舗名 </h3>
                  <%= f.text_field :name, class:'form-control', placeholder:"※全角" %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-6">
                  <h3>本店舗名　フリガナ </h3>
                  <%= f.text_field :name_hurigana, class:'form-control', placeholder:"※全角カタカナ" %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-6">
                  <h3>郵便番号</h3>
                  <%= f.text_field :postal_code, class:'form-control', placeholder:"※半角　ハイフンなし" %>
                </div>
              </div>
            </div>
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-7">
                  <h3>住所</h3>
                  <%= f.text_field :street_address, class:'form-control', placeholder:"住所を入力" %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-3">
                  <h3>電話番号</h3>
                  <%= f.text_field :phone_number, class:'form-control', placeholder:"※半角　ハイフンなし" %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-7">
                  <h3>メールアドレス</h3>
                  <%= f.text_field :email, class:'form-control', placeholder:"メールアドレスを入力" %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-7">
                  <h3>パスワード</h3>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> 文字以上必須)</em>
                  <% end %><br />
                  <%= f.password_field :password, autofocus: true, class:'form-control', placeholder:"※半角　英数字" %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-7">
                  <h3>パスワード再入力</h3>
                  <%= f.password_field :password_confirmation, autofocus: true, class:'form-control', placeholder:"※半角　英数字" %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                  <div class="actions">
                  <%= f.submit "登録", class: "btn btn-primary btn-lg btn-block" %>
                  </div>
                      <% end %>
                </div>
              </div>
            </div>

</main>
