<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">

<header>
  <%= link_to root_path do%>
  <p>MeGusta</p>
  <% end %>
<% if user_signed_in? %>
  <div class="welcome-text">
    Ora! <%= current_user.name %>さん
  </div>
  <% else %>
<% end %>
      <!--   検索フォーム -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <div class="inner">
  <%= form_tag user_items_path,id:"searchform", method: :get do %>
  <%= text_field_tag :keywords, '',{class:'search',id:'text',type:'text',placeholder:'検索キーワード'} %>
  <%= submit_tag '' ,id:"submit", :item_name => nil %>
  <% end %>
  <a href="#" class="search-btn"><i class="fa fa-search"></i></a><!--虫眼鏡アイコン -->
  </div>

<div id="sp-menu">
  <h1>MENU</h1>
  <ul><!--ヘッダーリンク先-->
    <% if user_signed_in? %>
    <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "link-decoration" %></li>
      <div class="toggle_wrap">
        <div class="toggle_switch">
        <p>Items</p>
        </div>
        <div class="toggle_contents">
        <%= link_to "All Items", user_items_path, class: "link-decoration" %>
        </div>
      </div>
    <li>
      <div class="toggle_wrap">
        <div class="toggle_switch">
        <p>マイページ</p>
        </div>
        <div class="toggle_contents">
            <%= link_to "My Page", user_mypage_path, class: "link-decoration" %>
        </div>
      </div>
    </li>
    <% else %>
    <li><%= link_to "口コミ会員登録", new_user_registration_path, class: "link-decoration" %></li>
    <li><%= link_to "口コミ会員ログイン", new_user_session_path, class: "link-decoration" %></li>
    <li><%= link_to "商品一覧", user_items_path, class: "link-decoration" %></li>
  <% end %>
  </ul>
</div>
<div id="hm-icon">
  <a class="menu-trigger" href="">
  <span></span>
  <span></span>
  <span></span>
  </a>
</div>






</header>

