<!DOCTYPE html>
<html>
  <head>
    <title>MeGusta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <link rel="stylesheet", type="text/css", href:=//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css /> -->
    <script src="//maps.google.com/maps/api/js?key=<%= ENV['KEY=AIzaSyCEj4I-amj49A0Ogxqx3BQ9Tetp4woMzQA'] %>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  </head>
  <% if request.fullpath.index('/admin') %>
    <%# render 'layouts/administrator_header' %>
  <body>
      <% else %>
    <%= render 'layouts/user_header' %>
  <% end %>
    <%= yield %>
  </body>
  <footer>
      <%= render 'layouts/footer' %>
  </footer>
</html>
